.places {
    margin: 0 var(--container-spacing);
}

@media screen and (min-width: 1280px) {
    .places {
        max-width: 984px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin: 0;
    }
}