.header {
    display: flex;
    align-items: end;
    padding-top: 28px;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: var(--x-large-container);
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px)  {
    .header {
        margin: 0 var(--container-spacing);
    }
}
