.cover {
    position: relative;
    display: flex;
    justify-content: center;
    background: url("../../images/cover-image.png") no-repeat center center / cover;
    margin: 92px auto;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: var(--x-large-container);
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 90px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
}


